

/*Configurações do header*/
.header{            
    width: 100%;    
    background-color: rgb(63, 114, 175)!important;     
    height: 10%;   
    z-index: 1000;      
}
.logo{
    position: relative;    
    margin-top: 0.9%;
    height: 60%; 
    width: 10%;  
}
.user, .user:visited, .user:hover{
    position: relative;
    font-size: 18px;  
    left: 78%;    
    text-decoration: none !important;
    color: white;      
    top: 10%;    
}
@media screen and (max-width : 801px){
    .user{
        left: 70%;
        font-size:0.75em; 
    }
    .logo{
    width: 7em;
    height: 3em;  
    padding-top: 0.1%;  
    }
}



/*Configurações do menu-top*/
.icons{
    width:28%; 
    height:28%;
    padding-top: 0.50%;
    padding-bottom: 0% !important;
    }
.nav-menu{
    list-style-type: none;
    display: inline;
    background-color: #333333;
    top: 10%;
    height: 9%;
    background-color: #F2FCFC;  
    left: 12%;
    box-shadow: 3px 2px rgba(0,0,0,0.1);
}
.texto-menu{
    font-size: 12px;  
    position: relative;
    padding: 1%;
    left: 30%;
    
}
@media screen and (max-width : 801px){ 
    .icons{
    width:18%; 
    height:18%;
    padding-top: 0.1% !important; 
    padding-bottom: 0% !important;
    }
    .texto-menu{
    font-size: 0.6em;
    align-content: left;
    padding-top: 0.1% !important; 
    padding-bottom: 0% !important;
    }
 }


/*Logo do sistema*/
.logo-system{    
    position: relative;
    z-index: 100;
    width: 100%;
    height: 12%;
    width: 88%;
    border: 8px solid rgba(242, 252, 252, 1)        
}


/*Configurações do menu-lateral*/
.titulomenu{
    font-size: 25px;
    text-align: center;
    color:#415865;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    }
.menu-lateral{
    position: fixed !important;            
    text-align: left;    
    height: 100%;
    float: left;
    width: 12%;
    top: 10%;      
    padding: 0em 0.2em 0em 0.1em;    
    background-color: #F2FCFC; 
    box-shadow: 2px 3px rgba(0,0,0,0.1); 
     }
.texto-menu-lateral{
    padding-top: 10px;
    padding-inline-start: 25px;
    font-size: 20px;
    color: #5C636E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-menu-lateral{
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 17px;
    color: #5C636E;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2em;
}

@media screen and (max-width : 801px){
    .titulomenu{ 
        font-size:1.5em;
    }
    .texto-menu-lateral{
        font-size: 0.75em;
    }
    .sub-menu-lateral{
        font-size: 0.75em;
    }
 }