

/*Configurações do header*/
.header{            
    width: 100%;    
    background-color: rgb(63, 114, 175)!important;     
    height: 10%;   
    z-index: 1000;      
}
.logo{
    position: relative;    
    margin-top: 0.3%;
    height: 80%; 
    width: 20%;  
      
}
.user, .user:visited, .user:hover{
    position: relative;        
    text-decoration: none !important;
    color: white;      
    margin-top: 1.5%;    
}


/*Configurações do menu-top*/
.nav-menu{
    top: 10%;
    height: 10%;
    font-size: 10pt;  
    background-color: #F2FCFC;  
}
.icons {
    position: relative;    
    height: 5%;
    width: 1rem;        
}

/*Logo do sistema*/
.logo-system{    
    position: relative;
    z-index: 100;
    width: 100%;
    height: 14%;
    border: 1px solid rgba(0,0,0,0.2);         
}


/*Configurações do menu-lateral*/

.menu-lateral{
    position: fixed !important;            
    text-align: center;    
    height: 100%;
    float: left;
    width: 12%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;    
    border-right: 1px solid rgba(0,0,0,0.2);   
    padding: 0em 0.5em 0em 0.5em;    
    background-color: #F2FCFC; 
    box-shadow: 2px 2px #888888;
     
}
.menu-lateral ul{
    list-style: none;
}
