@import url("./../../genericcss/generico.css");


.apontados{
    margin-top:17rem;     
    width: 100%;
}
.table-responsive {
    display: table;
}

@media screen and (min-width: 1900px) {
    .apontados{
        margin-top:18rem;
    }
}