@import url("./../../genericcss/generico.css");
 
.router {
    margin: 0.1% 0 0.1% 5%;
}
.apontamentos{
    margin-top:16rem; 
    text-align:center;
    width: 100%;
}
.table-responsive {
    display: table;
}
@media screen and (min-width: 1900px) {
    .apontamentos{
        margin-top:18rem;
    }
}