@import url("./../../genericcss/generico.css");

/* menu de navegação de OP */

@media (min-width: 768px) {
    .table-margin-resampling {
        margin: 39% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -13% 0 0 0;
        z-index: 4;
    }
}

@media (min-width: 960px) {
    .table-margin-resampling {
        margin: 19.5% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -5% 0 0 0;
        z-index: 4;
    }
}

@media (min-width:1900px) {
    .table-margin-resampling {
        margin: 18.5% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -3% 0 0 0;
        z-index: 4;
    }
}