@import url("./../../genericcss/generico.css");

/* menu de navegação de OP */

@media (min-width: 768px) {
    .table-margin-resampling {
        margin: 20% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: 16% 0 0 0;
        z-index: 4;
    }
}

@media (min-width: 960px) {
    .table-margin-resampling {
        margin: 32% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: 24% 0 0 0;
        z-index: 4;
    }
}

@media (min-width:1400px) {
    .table-margin-resampling {
        margin: 15% 0 6% 0;
    }
    .cabecalho-table-resampling {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: 14% 0 0 0;
        z-index: 4;
    }
}