/*Menu de cadastro da receita*/

.nav-recipe {
    position: fixed;
    margin-top: 5.5%;
    background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220));
    font-size: 11pt;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    z-index: 1;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 10%;
}

.botao-cadastro{
    margin: -1% 0 0 0;
}
.title-page-gp{    
    color: rgb(68, 68, 70);
    font-family: sans-serif;
    font-size: 22px;
    text-shadow: 1.5px 1.5px 2px #eee, 1.5px 1.5px 0px #707070;          
}

.nav-recipeP {
    position: fixed;
    margin-top: 5%;
    background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220));
    font-size: 11pt;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 1;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 18%;
}
.cabecalho-table{
    position: relative;
    top: 20%;
    left: 2%;
    width: 95.0%;
    padding: 0 0 0 0.1%;       
    background-color: black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.fundo-branco{
    background-color: #ffffff;    
    margin: 0 0 0 0;
    width: 100%;     
    height: 30%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.cursor-class{
    cursor:pointer;
}   
/*Título menu superior da tela de receita*/

.title-recipe {
    list-style: none;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(68, 68, 70);
    text-shadow: 1.5px 1.5px 2px #eee, 1.5px 1.5px 0px #707070;
    margin-left: 1%;
    margin-top: 1.2%;
}

.title-recipeP {
    list-style: none;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(68, 68, 70);
    text-shadow: 1.5px 1.5px 2px #eee, 1.5px 1.5px 0px #707070;
    margin-left: 1%;
    margin-top: 1.2%;
}


/*Botões superiores do menu de Cadastro de Receitas*/

.nav-recipe ul {
    display: inline;
    list-style: none;
    margin-right: 1%;
    margin-top: 1%;
}

.lsbtn {
    width: 4.7%;
}


/*Botão Cadastrar Receita*/

#cadReceita {
    padding-left: 15%;
}


/*Botão de remover produto*/

#removerP {
    font-size: 14px;
}


/*Título dos botões de input do menu superior da tela de receita*/

.title-cad {
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 6%;
}

.prod-title {
    margin-top: 4%;
}


/*Ícone do editar do relatório de receita*/

.icon-right2 {
    color: black;
    position: relative;
}


/*Título dos botões de edit-recipe e cadastrar produto da receita*/

.edit-text {
    font-size: 13px;
    font-family: sans-serif;
    color: #696969;
}

#dropdownMenuButton {
    background-color: white;
    color: black;
}

.nav-recipe ul li div {
    display: inline;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}


/*Título fases da receita*/

h2 {
    margin-left: 0.2%;
}

h3 {
    position: fixed;
    display: inline;
    font-family: sans-serif;
    color: rgb(61, 56, 56);
    margin-left: 0.9%;
}

.card-margin2 {
    margin-top: 5%;
    padding-bottom: 0.4%;
    padding-left: 1%;
    background-color: rgba(229, 238, 240, 0.356);
}


/*Bloco Fases da Receita*/

.card-header-phase {
    margin-top: 13%;
    width: 100%;
}


/*Título do número das fases e conteúdo do bloco*/

h6 {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(37, 107, 199);
}


/*Box das Fases*/

.phases {
    background-color: rgba(255, 255, 255, 0.137);
}

#show-phase-products {
    cursor: pointer;
    margin-left: 2%;
}

.itens-fase {
    position: relative;
    width: 50%;
    box-sizing: content-box;
    display: inline-block;
}

.ls5 {
    width: 90%;
    font-family: sans-serif;
    font-size: 20px;
}


/*Linhas dos materiais e parametros*/

.ls14 {
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    width: 24.7%;
}

.ls15 {
    font-size: 50px;
}

.ls16 {
    margin-top: 0.3%;
    margin-bottom: 0.1%;
    width: 24.7%;
}


/*Produtos da fase*/

.list-group-item-3 {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: rgb(255, 255, 255);
}


/*Parametros da fase*/

.list-group-item-4 {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: rgb(228, 232, 240);
}

#addPhase {
    width: 10%;
}


/*Botões: AddFase - Editar Fase, +Materiais e +Parâmetros*/

.config-button {
    left: 15%;
    width: 10%;
    cursor: pointer;
}


/*Botão Remover Produto do cabeçalho*/

.config-button2 {
    padding: 0.1%;
    cursor: pointer;
}


/*Relatório de Receitas*/

.phases {
    margin-top: 17%;
    padding-bottom: 5%;
    width: 95%;
    margin-left: 2%;
}

.card-header-recipe {
    background-color: rgba(224, 234, 240, 0.486);
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    width: 100%;
}


/*Relatório de Receitas - Configuração da listagem*/

.ls4 {
    width: 30%;
    padding-right: 1%;
    font-family: sans-serif;
    font-size: 15px;
}


/*Barra - Progress*/

.progress {
    position: absolute;
    top: 15%;
    box-sizing: border-box;
}


/*Paginação*/

.paginacao-phase {
    position: fixed;
    z-index: 2;
    text-align: center;
    margin-left: 35%;
    bottom: 5%;
}

@media only screen and (max-width: 800px) {
    /*Titulo da receita*/
    .title-recipe {
        font-size: 16px;
        margin-top: 1%;
    }
    /*Título dos botões de input do menu superior da tela de receita*/
    .title-cad {
        font-size: 13px;
        margin-top: 10%;
    }
    /*Box das Fases*/
    .phases {
        margin-top: 11%;
        padding-bottom: 6%;
    }
    /**/
    .phase {
        margin-top: 0.5%;
        padding-bottom: 5%;
    }
    .card-header-phase {
        margin-top: 13%;
        width: 100%;
    }
    .nav-recipeP {
        height: 22%;
    }
    #cadReceita {
        padding-left: 15%;
    }
    .nav-recipe {
        height: 18%;
    }
    .title-recipeP {
        margin-top: 1%;
    }
    .nav-phases {
        width: 19%;
        padding-top: 0.2%;
    }
    /*Título dos botões de edit-recipe e cadastrar produto da receita*/
    .edit-text {
        font-size: 9px;
    }
    .slider {
        width: 100%;
    }
    /*Configuração do Box do título fases da receita*/
    h3 {
        position: fixed;
        display: inline;
        font-size: 18px;
        font-family: sans-serif;
    }
    /*Fases da Receita*/
    .card-header-recipe {
        margin-top: 0.2%;
        padding-bottom: 0.2%;
    }
    .card-margin2 {
        margin-top: 14%;
        padding-bottom: 0.1%;
        padding-left: 1%;
    }
    /*Box das Fases - Código da fase e Nome da Fase*/
    .ls5 {
        margin-left: 5%;
        width: 100%;
        font-size: 16px;
    }
    /*Título do número das fases Ex.: 1º Fase*/
    h6 {
        font-size: 14px;
        padding-top: 0.8%;
    }
    /*Parte de produto da receita*/
    #produtoR {
        font-size: 11px;
    }
    #removerP {
        font-size: 12px;
    }
    /*Box do cadastro do material da fase*/
    .ls14 {
        width: 23%;
        margin-left: 1%;
        font-size: 11px;
    }
    /*Box do cadastro do parametro da fase*/
    .ls16 {
        width: 23.5%;
        margin-left: 1%;
        font-size: 11px;
    }
    /*Relatório de Receitas - Configuração da listagem*/
    .ls4 {
        padding-right: 1%;
        font-size: 11px;
    }
    #addPhase {
        width: 20%;
    }
    /*Configuração do tamanho dos botões: AddFase, EditFase, +Materiais e +Parametros*/
    .config-button {
        width: 15%;
        padding: 0.1%;
    }
    /*Configuração do botão Remover produto do cabeçalho da receita */
    .config-button2 {
        width: 100%;
        font-size: 11px;
    }
}