
@import url("./generictira.css");
@import url("./../../genericcss/generico.css");

/*Cabeçalho da tabela*/
.header-table-listtira{    
    position: fixed;    
    width: 100%;    
    background-color: black;
    margin: -2.2% 0 0 0;
    padding: 0 0 0 0.2%;
    z-index: 4;
}

/*Barra de carregamento*/
#load-listtira {
    margin: 18.5% 0 0 50%;    
}

.tiras {    
    margin-top: 13%;
    padding-bottom: 6%;
    width: 95%;
    margin-left: 2%;
}


.table-listtira{
    margin: 18.1% 0 6% 0;
}