/*Menu de cadastro da receita*/

@import url("./generictira.css");
@import url("./../../genericcss/generico.css");
/* ok */
.ls7-cabecalho-tira{
    width: 12%;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 0.3%;
}

/*Título menu superior da tela de receita*/
/* ok */


/*Título dos botões de edit-recipe e cadastrar produto da receita*/

/* ok */
#dropdownMenuButton {
    background-color: white;
    color: black;
}

/*Relatório de Receitas*/
.tiras-parametros{
    margin-top: 13%;
    padding-bottom: 6%;
    width: 95%;
    margin-left: 2%;
}

/*Relatório de Receitas - Configuração da listagem*/

.ls4-parametros{
    width: 12%;
    font-family: sans-serif;
    font-size: 13px;
}

.fundo-branco-tira{
    position: fixed;
    background-color: #ffffff;        
    width: 100%;     
    height: 10%;
    top: 15%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@media only screen and (max-width: 800px) {
    /*Titulo da receita*/
    .title-recipe-tira {
        font-size: 16px;
        margin-top: 1%;
    }
    /*Título dos botões de input do menu superior da tela de receita*/
    .title-cad {
        font-size: 13px;
        margin-top: 10%;
    }
    /*Box das Fases*/
    .tiras {
        margin-top: 11%;
        padding-bottom: 6%;
    }
    /**/
    .tiras {
        margin-top: 0.5%;
        padding-bottom: 5%;
    }
    .card-header-tira {
        margin-top: 13%;
        width: 100%;
    }
    .nav-recipeP-tira {
        height: 22%;
    }
    #cadReceita {
        padding-left: 15%;
    }
    .nav-recipe-tira {
        height: 18%;
    }
    .title-recipeP-tira {
        margin-top: 1%;
    }
    .nav-tiras {
        width: 19%;
        padding-top: 0.2%;
    }
    /*Título dos botões de edit-recipe e cadastrar produto da receita*/
    .edit-text {
        font-size: 9px;
    }
    .slider {
        width: 100%;
    }
    /*Configuração do Box do título fases da receita*/
    h3 {
        position: fixed;
        display: inline;
        font-size: 18px;
        font-family: sans-serif;
    }
    /*Fases da Receita*/
    .card-header-recipe-tira {
        margin-top: 0.2%;
        padding-bottom: 0.2%;
    }
    .card-margin2 {
        margin-top: 14%;
        padding-bottom: 0.1%;
        padding-left: 1%;
    }
    /*Box das Fases - Código da fase e Nome da Fase*/
    .ls5 {
        margin-left: 5%;
        width: 100%;
        font-size: 16px;
    }
    /*Título do número das fases Ex.: 1º Fase*/
    h6 {
        font-size: 14px;
        padding-top: 0.8%;
    }
    /*Parte de produto da receita*/
    #produtoR {
        font-size: 11px;
    }
    #removerP {
        font-size: 12px;
    }
    /*Box do cadastro do material da fase*/
    .ls14 {
        width: 23%;
        margin-left: 1%;
        font-size: 11px;
    }
    /*Box do cadastro do parametro da fase*/
    .ls16 {
        width: 23.5%;
        margin-left: 1%;
        font-size: 11px;
    }
    /*Relatório de Receitas - Configuração da listagem*/
   
    #addTira {
        width: 20%;
    }
    /*Configuração do tamanho dos botões: AddFase, EditFase, +Materiais e +Parametros*/
    .config-button {
        width: 15%;
        padding: 0.1%;
    }
    /*Configuração do botão Remover produto do cabeçalho da receita */
    .config-button2 {
        width: 100%;
        font-size: 11px;
    }
}