/*Menu de cadastro da receita*/

@import url("./generictira.css");
@import url("./../../genericcss/generico.css");
@media (min-width:768px) {
    /* inputs navbar alinhamento e margin */
    .margin-nav {
        margin-left: 1%;
        margin-top: 0.5%;
    }
    /*Cabeçalho da tabela*/
    .header-table-tira {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -6.5% 0 0 0;
        z-index: 4;
    }
    .margin-table-tira {
        margin: 28.5% 0 6% 0;
        padding-top: 3%;
    }
    
    /*Relatório de Receitas - Configuração da listagem*/
    .ls-tira {
        width: 13%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
 

}

@media (min-width: 960px) {
    /*Cabeçalho da tabela*/
    .header-table-tira {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -0.5% 0 0 0;
        z-index: 4;
    }
    /* ok */
    #dropdownMenuButton {
        background-color: white;
        color: black;
    }
    .margin-table-tira {
        margin: 12% 0 6% 0;
        padding-top: 3%;
    }
        /*Relatório de Receitas - Configuração da listagem*/
    .ls-tira {
        width: 13%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
 
}

@media (min-width: 1020px) {
    /*Cabeçalho da tabela*/
    .header-table-tira {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -2.5% 0 0 0;
        z-index: 4;
    }
    /* ok */
    #dropdownMenuButton {
        background-color: white;
        color: black;
    }
    .margin-table-tira {
        margin: 16.5% 0 6% 0;
        padding-top: 3%;
    }
        /*Relatório de Receitas - Configuração da listagem*/
    .ls-tira {
        width: 13%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
}

@media (min-width:1400px) {
    /*Cabeçalho da tabela*/
    .header-table-tira {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -2% 0 0 0;
        z-index: 4;
    }
    /* ok */
    #dropdownMenuButton {
        background-color: white;
        color: black;
    }
    .margin-table-tira {
        margin: 14.5% 0 6% 0;
        padding-top: 3%;
    }
    /*Relatório de Receitas - Configuração da listagem*/
    .ls-tira {
        width: 13%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }

}

@media (min-width:1900px) {
    /*Cabeçalho da tabela*/
    .header-table-tira {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -0.5% 0 0 0;
        z-index: 4;
    }
    /* ok */
    #dropdownMenuButton {
        background-color: white;
        color: black;
    }
    .margin-table-tira {
        margin: 12% 0 6% 0;
        padding-top: 3%;
    }
}


/*  tabela 1920 x 1080 */