/* menu de navegação de OP */

@import url("./../../genericcss/generico.css");
#tabela-op-analisys{
    text-align:center; 
    margin-top:16rem;
}
.table-responsive {
    display: table;
}
.collapse-color {
    color: #6a7989;
}
a:hover {
    color: #929fac;
}
@media (min-width: 768px) {          
    .nav-prod {
        padding-left: 0.5%;
    }       
}

@media (min-width: 960px) {    
    .nav-prod {
        padding-left: 0.5%;
    }
    .paginacao-op-liga {
        position: fixed;
        z-index: 2;
        text-align: center;
        width: 100%;
        margin-bottom: 2%;
        background-color: #ffffff;
    }    
}

@media (min-width:1400px) {  
    #tabela-op-analisys{
        text-align:center; 
        margin-top:20rem;
    } 
    .nav-prod {
        padding-left: 0.5%;
    }
    a:hover {
        color: #929fac;
    }   
}