    /* menu de navegação de OP */
    
    @import url("./../../genericcss/generico.css");
    #tabela-op-liga{
        text-align:center; 
        margin-top:14rem;
        margin-bottom: 6rem;
    }
    .table-responsive {
        display: table;
    }
    .collapse-color {
        color: #6a7989;
    }
    a:hover {
        color: #929fac;
    }
    @media (min-width: 768px) {        
        .cabecalho-table-po-modal-liga {                        
            background-color: black;            
        }                     
        .nav-prod {
            padding-left: 0.5%;
        }             
        .card-body-op {
            padding-top: 0.1%;
            margin-bottom: 1%;
            padding-left: 0.8%;
        }
        .paginacao-op-liga {
            position: fixed;
            z-index: 2;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            background-color: #ffffff;
        }
        .card-header {
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }
    }
    
    @media (min-width: 960px) {
        
        .cabecalho-table-po-modal-liga {
            background-color: black;    
        }                                  
        .nav-prod {
            padding-left: 0.5%;
        }              
        .card-body-op {
            padding-top: 0.1%;
            margin-bottom: 1%;
            padding-left: 0.8%;
        }
        .paginacao-op-liga {
            position: fixed;
            z-index: 2;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            background-color: #ffffff;
        }
        .card-header {
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }        
    }
    

    @media (min-width: 1100px){        
   
        .cabecalho-table-po-modal-liga {                        
            background-color: black;            
        }                       
        .nav-prod {
            padding-left: 0.5%;
        }                                     
        .card-body-op {
            padding-top: 0.1%;
            margin-bottom: 1%;
            padding-left: 0.8%;
        }
        
        .paginacao-op-liga {
            position: fixed;
            z-index: 2;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            background-color: #ffffff;
        }
        #tabela-op-liga{
            text-align:center; 
            margin-top:16rem;
        }
        .card-header {
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }      
    }

    @media (min-width:1400px) {           

        .cabecalho-table-po-modal-liga {            
            background-color: black;            
        }                
        .nav-prod {
            padding-left: 0.5%;
        }           
        .card-body-op {
            padding-top: 0.1%;
            margin-bottom: 1%;
            padding-left: 0.8%;
        }
        .paginacao-op-liga {
            position: fixed;
            z-index: 2;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            background-color: #ffffff;
        }
        .card-header {
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }
    } 