/* menu de navegação de OP */

.nav-op {
    padding-top: 0.1%;
    padding-bottom: 0.01%;
    top: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 13%;
    background-color: white;
    width: 100%;
}

.collapse-color {
    color: #6a7989;
}

a:hover {
    color: #929fac;
}

.cadastro-op {
    padding-right: 125px !important;
}

.modal-content {
    width: 125%;
}

.icon-right {
    position: relative;
    float: right;
}

.panel-body {
    text-align: left;
}

input {
    position: relative;
}

.op {
    position: relative;
    margin-top: 20%;
    left: 12%
}

.paginacao-op {
    z-index: 100;
    text-align: center;
    width: 66.3%;
    left: 15%;
    background-color: white;
}

.cadForm {
    position: fixed;
    float: right;
    z-index: 10%;
    margin-top: 18%;
    width: 15% !important;
    left: 83%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10%;
    padding: 2%;
}

.card-body-op {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
}

.card-margin {
    margin-bottom: 1%;
}

@media screen and (max-width: 801px) {
    .cadForm {
        margin-top: 30%;
        width: 15% !important;
        height: 60%;
    }
}

@media screen and (max-width: 801px) {
    .card-body-op {
        font-size: 11px;
        padding-top: 0.6%;
        padding-bottom: 0.6%;
    }
}