

.nav-produtos{
    padding-top: 1%;
    padding-bottom: 1%;
    top: 20%;        
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 1;
    left: 15%;
    background-color: white;
    width: 85%;
}

#cadprodfinal{
    padding-top: 1%;
    padding-bottom: 1%;
    top: 20%;        
    z-index: 1;
    left: 15%;
    background-color: white;
}

.fm {
    width: 15%;
}

.nav-item{
    margin-left: 3;
    margin-right: 0.5%;
}

.nav-produto-final{
    top: 28% !important;
    height: 5% !important; 
}

.cadForm{
    position: fixed !important;
    float: right; 
    z-index: 1;             
    width: 10% !important;
    left: 85%;
    margin-top: 17%;
}

.listagem{
    position: relative;
    margin-top: 20%;           
    left: 15%;
    width: 60% !important;
}
.produto-final{    
    left: 15%;
    margin-top: 15%;
}

.progress{
    top: 38% !important; 
    left: 15% !important;
}
