/* menu de navegação de produtos - título busca de produtos*/

.title-page-gp {
    color: rgb(68, 68, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px !important;
    text-shadow: 1.5px 1.5px 2px #eee, 1.5px 1.5px 0px #707070;
}

.table-margin {
    margin-top: 2%;
    width: 98%;
}

@media screen and (max-width: 801px) {
    .table-margin {
        margin-top: 35%;
        width: 98%;
    }
}