.btn-add-tt {
    padding-top: 38px;
}
.cadFer{
    margin-top: 17%;
}


.nav-tool-type {
    position: fixed;
    top: 12%;
    z-index: 1;
    background: linear-gradient(rgb(255,255,255), rgb(220,220,220)); 
    width: 100%;
    height: 16%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.title-page{
    text-align: left;
    color: rgb(68, 68, 70);
    font-family: sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px #F9F9F9;
    position: fixed;
    left: 0.9%;
    top: 14.5%;
}

.conteudo-tt h3 {
    color: rgb(41, 39, 39);
}

.ls{
    width: 25%;
}

@media screen and (max-width: 800px) {
    .nav-tool-type {
        background-color: rgba(249, 247, 247, 1);
        position: fixed;
        top: 16%;
        z-index: 1;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    .title-page{
        top: 20%;
    }
}
