.btn-add-tt {
    padding-top: 38px;
}

.nav-tool-type {
    position: fixed;
    margin-top: 9.7%;
    z-index: 1;
    background: linear-gradient(rgb(255,255,255), rgb(220,220,220)); 
    width: 100%;
    height: 16%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.conteudo-tt {
    width: 100%;
    padding-bottom: 5%;
}

.card-tt {
    height: 10%;
}

.title-page-TT{
    text-align: left;
    color: rgb(68, 68, 70);
    font-family: sans-serif;
    font-size: 22px;
    text-shadow: 1.5px 1.5px 2px #eee, 1.5px 1.5px 0px #707070;
    left: 0.9%;
    top: 2%;
}

.tool-type{
    margin-left: 3%;
    width: 95%;
}

.cadbtn {
    margin-top: 10%;
}

.card-header7{ 
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.ls21{
    width: 28%;
}

.conteudo-tt h3 {
    color: rgb(41, 39, 39);
}

@media only screen and (max-width: 800px) {
.nav-tool-type {
        background-color: rgba(249, 247, 247, 1);
        position: fixed;
        z-index: 1;
        margin-top: 15%;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
.title-page{
        font-size: 17px;
        top: 21%;
    }
.tool-type{
    padding-top: 7%;
    padding-bottom: 7%;
    }
.ls21{
    width: 28%;
    font-size: 12px;
}

}
