@import url("./../../genericcss/generico.css");

/*itens menu de navegação de produtos - busca de produtos*/

.nav-item-products {
    margin-left: 1%;
    padding: 1.2% 0 1% 0;
}

.cabecalho-table {
    position: fixed;
    width: 100%;
    background-color: black;
    margin: -2.2% 0 0 0;
    z-index: 4;
}

#load-products {
    margin: 18% 0 0 50%;
}

.msg {
    position: relative;
    width: 50%;
}

.margin-table {
    margin: 16.3% 0 6% 0;
}   

.ls2-margin {
    margin-left: 1.3%;
}


/* Menu Superior para busca de Produtos 800X600 */

@media screen and (max-width: 800px) {
    .nav-produtos {
        background-color: rgba(249, 247, 247, 1);
        position: fixed;
        top: 16%;
        z-index: 1;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .nav-item-products {
        margin-left: 1%;
        padding-top: 7%;
    }
    .title-page {
        font-size: 19px;
        top: 11%;
    }
    .card-body5 {
        font-size: 11px;
        padding-top: 0.1%;
        padding-bottom: 0.1%;
    }
    .produtos {
        margin-top: 11.5%;
        padding-bottom: 10%;
        width: 100%;
    }
    .ls2-margin {
        margin-left: 1%;
    }
    .margin-table {
        margin-top: 18%;
    }
}