
/* menu de navegação de produtos */   
.nav-produtos{
    padding-top:0.1%;
    padding-bottom: 0.01%;
    top: 20%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 2%;
    left: 13%;
    background-color: white;
    width: 100%;
    }
.nav-item{
    margin-left: 3;
    margin-right: 0.5%;
    }

/*Listagem de produtos*/

.icon-right{
    position: relative;
    float: right;
}
.panel-body{
    text-align: left;    
}
input{
    position: relative !important;
}
.produtos{
    position: relative;
    margin-top: 16%;           
    left: 15%;
    width: 60%;       
}
@media screen and (max-width : 801px){
    .produtos{ 
        margin-top: 30%; 
        }       
} 
/**/
.cadForm{
    position: fixed;
    float: right; 
    z-index: 10%; 
    margin-top:18%;        
    width: 15% !important;
    left: 83%;      
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10%;  
    padding: 2%;  
}

.msg{
    position: relative!important; 
    width: 70%!important;
}

.paginacao{        
    z-index: 100;
    text-align: center;    
    width: 66.3%;
    left: 15%;
    background-color: white;
}

@media screen and (max-width : 801px){
    .cadForm{ 
        margin-top: 30%; 
        width: 15% !important;
        height: 60%;
        }  
    } 


.ls {
    width: 20%;
}
.card-body{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
padding-top: 0.6%;
padding-bottom: 0.6%;
}
@media screen and (max-width : 801px){
    .card-body{ 
        font-size: 11px;
        padding-top: 0.6%;
        padding-bottom: 0.6%;
        }  
    } 

