/* menu de navegação de ferramentas */ 
.nav-ferramentas{
    position: fixed;
    top: 9%;
    z-index: 1;
    /* background: -ms-linear-gradient(top, rgb(235, 245, 248), rgb(252, 251, 251)); */
    /* background-color: #F6F6F6; */
    background: linear-gradient(rgb(249, 249, 250), hsla(204, 60%, 69%, 0.767)); 
    width: 100%;
    height: 13%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-item-tool{
    margin-left: 0.5%;
    padding-top: 3%;
    }

.title-page-tool{
    text-align: left;
    color: rgb(68, 68, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px #F9F9F9;
    position: fixed;
    top: 11%;
    margin-left: 0.5%;
}

/*Listagem de ferramentas*/
    
input{
    position: relative;
}

.ferramentas {
    position: absolute;
    margin-top: 12%;           
    left: 1%;
    width: 90%;
} 

.msg {
    position: relative;
    width: 50%;
    }
   

/* menu de navegação de ferramentas - busca de ferramentas*/   
.card-body2{
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: white;

    }

.card-header2{
    padding-top: 0.6%;
    padding-bottom: 0.6%;   
}

.btn-warning{
    color: white;
}

/*Listagem de ferramentas*/
.icon-right{
    position: relative;
    float: right;
}

.ls3{
    font-family: sans-serif;
    font-size: 12px;
    width: 12%;
}

@media screen and (max-width : 801px){
    .ferramentas{ 
        margin-top: 30%; 
    }  
    
.nav-ferramentas{
    top: 15%;
    z-index: 1;
    /* background: -ms-linear-gradient(top, rgb(235, 245, 248), rgb(252, 251, 251)); */
    background-color: #F6F6F6;  
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.title-page-tool{
    font-size: 19px;
    padding-top: 4%;
}
.nav-item-tool{
    margin-left: 1%;
    padding-top: 5%;
    }
} 