@import url("./../../genericcss/generico.css");

@media (min-width: 768px) {
    .history {
        margin-left: 2%;
        margin-top: 17%;
    }
}
@media (min-width: 968px) {
    .history {
        margin-left: 2%;
        margin-top: 10%;
    }
}
@media (min-width: 1400px) {
    .history {
        margin-left: 2%;
        margin-top: 9%;
    }
}
.history {
    margin-left: 2%;
    margin-top: 16%;
}
.cabecalho-tabela-scroll{
    position: fixed;    
    top:25%;
}
#tabela{
    text-align: center;
}

/*Tabela teste*/
.nav-item-hist {
    margin-top: 1%;
    margin-left: 1%;
}

#header_table_fixed{
    position: fixed;    
    top:23.2%;
    text-align: center;
    z-index: 1000;
}
