@import url("./../../genericcss/generico.css");

/*itens menu de navegação de produtos - busca de produtos*/
.nav-item-prameters {
    margin-left: 1%;
    padding: 1.2% 0 1% 0;
}

.item-cabecalho-table-parameters{
    width: 12%;
}

.cabecalho-table-parameters {
    position: fixed;    
    width: 100%;    
    background-color: black;
    margin: -4% 0 0 0;    
    z-index: 4;
}

#load-parameters {
    margin: 18% 0 0 50%;    
}

.margin-table-parameters {
    margin: 19.9% 0 6% 0;
}