@import url("./../../genericcss/generico.css");
@media (min-width: 768px) {
    /*itens menu de navegação de produtos - busca de produtos*/
    .nav-item-prameters {
        margin-left: 1%;
        padding: 1.2% 0 1% 0;
    }
    .item-cabecalho-table-parameters {
        width: 12%;
    }
    .cabecalho-table-parameters {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -12.5% 0 0 0;
        z-index: 4;
    }
    #load-parameters {
        margin: 30% 0 0 50%;
    }
    .margin-table-parameters {
        margin: 44% 0 6% 0;
    }
    .font-size {
        font-size: 12px;
    }
}

@media (min-width: 960px) {
    /*itens menu de navegação de produtos - busca de produtos*/
    .nav-item-prameters {
        margin-left: 1%;
        padding: 1.2% 0 1% 0;
    }
    .item-cabecalho-table-parameters {
        width: 15%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
    .cabecalho-table-parameters {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -6.5% 0 0 0;
        z-index: 4;
    }
    #load-parameters {
        margin: 30% 0 0 50%;
    }
    .margin-table-parameters {
        margin: 22% 0 6% 0;
    }
    .font-size {
        font-size: 12px;
    }
    .item-cabecalho-table-parameters-sm{
        width: 8%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
}

@media (min-width: 1400px) {
    /*itens menu de navegação de produtos - busca de produtos*/
    .nav-item-prameters {
        margin-left: 1%;
        padding: 1.2% 0 1% 0;
    }
    .item-cabecalho-table-parameters {
        width: 12%;
    }
    .cabecalho-table-parameters {
        position: fixed;
        width: 100%;
        background-color: black;
        margin: -3% 0 0 0;
        z-index: 4;
    }
    #load-parameters {
        margin: 30% 0 0 50%;
    }
    .margin-table-parameters {
        margin: 16.3% 0 6% 0;
    }
    .font-size {
        font-size: 12px;
    }
    .item-cabecalho-table-parameters {
        width: 14%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
    .item-cabecalho-table-parameters-sm{
        width: 8%;
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
}