@import url("./../../genericcss/generico.css");

#tabela-parametros-linha{
    text-align:center; 
    margin-top:12rem;
}
.table-responsive {
    display: table;
}
@media (min-width: 699px) {
    /*itens menu de navegação de produtos - busca de produtos*/
    .nav-item-prameters {
        margin-left: 1%;
        padding: 1.2% 0 1% 0;
    }
   
    #load-parameters {
        margin: 30% 0 0 50%;
    }   
}

@media (min-width: 960px) {
    /*itens menu de navegação de produtos - busca de produtos*/
    .nav-item-prameters {
        margin-left: 1%;
        padding: 1.2% 0 1% 0;
    }    
    #load-parameters {
        margin: 30% 0 0 50%;
    }    
}

@media (min-width: 1400px) {
    /*itens menu de navegação de produtos - busca de produtos*/    
    #load-parameters {
        margin: 30% 0 0 50%;
    }    
    
}

@media (min-width: 1900px) {
    /*itens menu de navegação de produtos - busca de produtos*/    
    #load-parameters {
        margin: 30% 0 0 50%;
    }    
}