body, html {
    height: 100%;
}


.fundo-home{
    background: linear-gradient(rgba(244, 244, 245, 0.384), rgba(98, 163, 201, 0.438)); 

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-fundo{
    z-index: 1;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 800px) {
   
    .img-fundo{
        padding-top: 80;
        
    }
}